coverage/
*.exe
out/
testin/
bootstrap/
ignore/
vscodeExtension/out/
tools/deno/
*.js.map
src_bootstrapped/
dist/
vscodeExtension/out/
andr/
vscodeExtension/out/
dist_zig/
*.pdb
.zig-cache/
.wm-cache/